.root {
  background-color: #21212b;
  width: 250px;
  padding-top: 25px;
  height: calc(100vh - 64px);
  transition: 0.4s ease-in-out;

  &.hidden {
    margin-left: -250px;
  }

  .sidebarItems {
    display: flex;
    flex-direction: column;
    row-gap: 5px;

    .collections {
      max-height: 400px;
      overflow-y: scroll;
    }
  }

  .listItem {
    color: #fff;

    &.selected {
      background-color: #272732;
    }

    &:hover {
      background-color: #272732;
    }
  }
}
